:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: color 0.3s, background-color 0.3s, box-shadow 0.3s;
}
button {
  border: none;
}
input,
select {
  border: none;
  box-shadow: 0 1px 2px rgba(255, 255, 255, 0.3);
  outline: none;
}
input {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  padding: 10px 12px;
}
input[type="text"]:focus {
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3);
}
select {
  background-color: gray;
  padding: 9px 12px;
}
tbody,
table {
  width: 100%;
}
tr {
  padding: 5px;
  display: block;
}
tbody tr {
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}
tbody tr {
  display: flex;
  flex-direction: row;
}
tbody tr td {
  margin-right: 5px;
  text-transform: capitalize;
}
tbody tr td:first-child {
  margin-right: auto;
}
tbody tr td:not(:first-child) {
  margin-left: 10px;
  cursor: pointer;
}
form {
  margin: 15px 0;
  margin-top: 25px;
  width: 100%;
}
form input[type="submit"] {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
